<%= form_for(@list) do |f| %>

    <div>
      <%= f.text_field :title, placeholder: "Новый список дел", class: "form" %>

    </div>
    <div>
      <%= f.submit "Создать список", class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
