<% @items.each do |item| %>
    <p><%= item.step %> <%=item.description %> </p>
<%= link_to "Удалить задачу", todolist_todoitem_path(item, @list.id), method: :delete, data: { confirm: "Вы уверены?"} %>
<% end %>
<div id="form">
  <%=render "todoitems/form" %>
</div>