/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 #*= require_tree .
 #*= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body { margin: 0; }
.index {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 600px;
}

.form {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 40px;
  border: rgba(0,0,0,.3) 2px solid;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.devise {
  width: 30%;
  margin: 0 auto;

}

.head {
  text-align: center;
}

.todo_list {
  display: flex;
  background: #fc0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 10px;
}

.todolist_del {
    cursor: pointer;
    background: #fc0;
    a {
      color: red;
    }
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.todolist_success {
  cursor: pointer;
  background: #fc0;
  a {
    color: green;
  }
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.set_items {
  display: flex;
}



